.search {
  position: absolute;
  width: 100%;
  max-width: 300px;
  margin-top: 3px;
  z-index: 10
}

.search input {
  color: black;
  font-size: 1.5rem;
  width: 95%;
}

.locate, .locate:hover  {
  position: absolute;
  background-color: white;
  display: block;
  cursor: pointer;
  transition: background-color 0.16s ease-out;
  border-radius: 0%;
  font: "roboto";
  top: 0%;
  left: 30%;
  z-index: 10;
  margin-top: 1%;
}

ul {
  color: black;
}
