
body{
    background-color: #012353;
    color:#fff;
}
.react-tabs {
    display: flex;
    margin-top: 5%;
    color: white;
    background: #0D2F63;
    border: 1px solid #3c3e43;
}

.react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    color: white;
    background: #012353;
}

.react-tabs__tab {
    height: 40px;
    list-style: none;
    border-left: 2px solid #3c3e43;
    border-radius: 5% 0% 0% 0%;
    border-bottom: 1px solid #3c3e43;
    border-top: 1px solid #3c3e43;
    padding: 12px 6px;

    cursor: pointer;
    color: #bbb;
}

.react-tabs__tab--selected {
    background: #0d2f63;
    border-color: #1c1d1f;
    border-left: 4px solid #edc948;
    border-bottom: 4px solid #edc948;
    border-radius: 5% 0% 0% 0%;
    color: white;
}

.react-tabs__tab-panel {
    display: none;
    margin: 0 auto;
    width: auto;
    padding: 40px;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.react-tabs__tab {
    padding-left: 24px;
}

.react-tabs__tab--selected {
    padding-left: 21px;
}

.panel-content {
    text-align: center;
}

input,textarea,select,button{
    color:#fff
}

p,h1,h2,h3,h4,h5,h6,ul{
    margin:0
}
ul{
    padding:0;
    margin:0;
    list-style:none
}
a{text-decoration:none}
textarea{resize:none}

.wrapper{
    height:100vh;
    background:#f9f6f1;
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    background-size:cover
}
.inner{
    width:909px;
    background-color: #012353;
}

button{
    padding:0;
    border:none;
    height:42px;
    width:164px;
    background:#edc948;
    text-transform:uppercase;
    font-size:14px;
    color:#012353;
    cursor:pointer;
    bottom:56px;
    border-radius:21px;
    font-weight:500;
    font-weight:500
}

button i{margin-left:10px}
button:hover{background:#d4b43f}